HOST: http://www.skypicker.com/

--- Skypicker ---
---
Welcome to the Skypicker API documentation. All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)
---
--
Places Resources
The following is a section of resources related to places - countries, cities, airports
--
List places from which you can fly.
GET /places
> Accept: application/json
< 200
< Content-Type: application/json
{ "data": [
    { "numberOfAirports": 1, "id": "SI", "parentId": null, "type": 1, "value": "Slovenia" },
    { "numberOfAirports": 1, "id": "LGW", "parentId": "london", "type": 0, "value": "London Gatwick (LGW)" }
], "count": 2
}


List places from which you can fly including GPS coordinates.
GET /places?geo=1
< 200
< Content-Type: application/json
[
    { "numberOfAirports": 1, "id": "SI", "parentId": null, "type": 1, "value": "Slovenia", "lat": 50, "lng":15.432 },
    { "numberOfAirports": 1, "id": "LGW", "parentId": "london", "type": 0, "value": "London Gatwick (LGW)", "lat":49.2323, "lng":18.991 }
]


Get information about particular place.
GET /places/{id}{?geo}
< 200
< Content-Type: application/json
{ "numberOfAirports": 1, "id": "SI", "parentId": null, "type": 1, "value": "Slovenia", "lat": 50.329, "lng": 15.243 }


--
Flights Resources
The following is a section of resources related to flights
--
List flights you can book.
GET /flights
> Accept: application/json
< 200
< Content-Type: application/json
{
    "connections" : [
        {
            "id" : "ARN",
            "name" : "Stockholm"
        },
        {
            "id" : "BCN",
            "name" : "Barcelona"
        },
        {
            "id" : "BGY",
            "name" : "Milan"
        }
    ],
    "data" : [
        {
            "atime" : 1358412600,
            "cityfrom" : "Prague",
            "cityto" : "Budapest",
            "dtime" : 1358335800,
            "flyfrom" : "PRG",
            "flyto" : "BUD",
            "id" : "3545416|3742828",
            "price" : 108.43232999999999,
            "route" : [
                {
                    "airline" : "U2",
                    "atime" : 1358340900,
                    "cityfrom" : "Prague",
                    "cityto" : "Milan",
                    "dtime" : 1358335800,
                    "flyfrom" : "PRG",
                    "flyto" : "MXP",
                    "id" : "3545416",
                    "latFrom" : 50.100830000000002,
                    "latTo" : 45.465449999999997,
                    "lngFrom" : 14.26,
                    "lngTo" : 9.1865199999999998,
                    "mapIdfrom" : "prague",
                    "mapIdto" : "milan",
                    "price" : 62.43,
                    "return" : "false"
                },
                {
                    "airline" : "W6",
                    "atime" : 1358412600,
                    "cityfrom" : "Milan",
                    "cityto" : "Budapest",
                    "dtime" : 1358406900,
                    "flyfrom" : "MXP",
                    "flyto" : "BUD",
                    "id" : "3742828",
                    "latFrom" : 45.465449999999997,
                    "latTo" : 47.436929999999997,
                    "lngFrom" : 9.1865199999999998,
                    "lngTo" : 19.255590000000002,
                    "mapIdfrom" : "milan",
                    "mapIdto" : "budapest",
                    "price" : 17.989999999999998,
                    "return" : "false"
                }
            ]
        },
        {
            "atime" : 1358413200,
            "cityfrom" : "Brno",
            "cityto" : "Linz",
            "dtime" : 1358348700,
            "flyfrom" : "BRQ",
            "flyto" : "LNZ",
            "id" : "3669969|4473768",
            "price" : 98.917330000000007,
            "route" : [
                {
                    "airline" : "FR",
                    "atime" : 1358352900,
                    "cityfrom" : "Brno",
                    "cityto" : "London",
                    "dtime" : 1358348700,
                    "flyfrom" : "BRQ",
                    "flyto" : "STN",
                    "id" : "3669969",
                    "latFrom" : 49.151269999999997,
                    "latTo" : 51.507339999999999,
                    "lngFrom" : 16.694430000000001,
                    "lngTo" : -0.12767999999999999,
                    "mapIdfrom" : "brno",
                    "mapIdto" : "london",
                    "price" : 59.409999999999997,
                    "return" : "false"
                },
                {
                    "airline" : "FR",
                    "atime" : 1358413200,
                    "cityfrom" : "London",
                    "cityto" : "Linz",
                    "dtime" : 1358402400,
                    "flyfrom" : "STN",
                    "flyto" : "LNZ",
                    "id" : "4473768",
                    "latFrom" : 51.507339999999999,
                    "latTo" : 48.233220000000003,
                    "lngFrom" : -0.12767999999999999,
                    "lngTo" : 14.18751,
                    "mapIdfrom" : "london",
                    "mapIdto" : "linz",
                    "price" : 27.870000000000001,
                    "return" : "false"
                }
            ]
        },
        {
            "atime" : 1358352900,
            "cityfrom" : "Brno",
            "cityto" : "London",
            "dtime" : 1358348700,
            "flyfrom" : "BRQ",
            "flyto" : "STN",
            "id" : "3669969",
            "price" : 67.331329999999994,
            "route" : [ 
                {
                    "airline" : "FR",
                    "atime" : 1358352900,
                    "cityfrom" : "Brno",
                    "cityto" : "London",
                    "dtime" : 1358348700,
                    "flyfrom" : "BRQ",
                    "flyto" : "STN",
                    "id" : "3669969",
                    "latFrom" : 49.151269999999997,
                    "latTo" : 51.507339999999999,
                    "lngFrom" : 16.694430000000001,
                    "lngTo" : -0.12767999999999999,
                    "mapIdfrom" : "brno",
                    "mapIdto" : "london",
                    "price" : 59.409999999999997,
                    "return" : "false"
                }
            ]
        },
        {
            "atime" : 1358340900,
            "cityfrom" : "Prague",
            "cityto" : "Milan",
            "dtime" : 1358335800,
            "flyfrom" : "PRG",
            "flyto" : "MXP",
            "id" : "3545416",
            "price" : 86.444559999999996,
            "route" : [
                {
                    "airline" : "U2",
                    "atime" : 1358340900,
                    "cityfrom" : "Prague",
                    "cityto" : "Milan",
                    "dtime" : 1358335800,
                    "flyfrom" : "PRG",
                    "flyto" : "MXP",
                    "id" : "3545416",
                    "latFrom" : 50.100830000000002,
                    "latTo" : 45.465449999999997,
                    "lngFrom" : 14.26,
                    "lngTo" : 9.1865199999999998,
                    "mapIdfrom" : "prague",
                    "mapIdto" : "milan",
                    "price" : 62.43,
                    "return" : "false"
                }
            ]
        },
        {
            "atime" : 1358541300,
            "cityfrom" : "Brno",
            "cityto" : "Frankfurt",
            "dtime" : 1358446500,
            "flyfrom" : "BRQ",
            "flyto" : "HHN",
            "id" : "3669967|3694249",
            "price" : 96.457999999999998,
            "route" : [
                {
                    "airline" : "FR",
                    "atime" : 1358450700,
                    "cityfrom" : "Brno",
                    "cityto" : "London",
                    "dtime" : 1358446500,
                    "flyfrom" : "BRQ",
                    "flyto" : "STN",
                    "id" : "3669967",
                    "latFrom" : 49.151269999999997,
                    "latTo" : 51.507339999999999,
                    "lngFrom" : 16.694430000000001,
                    "lngTo" : -0.12767999999999999,
                    "mapIdfrom" : "brno",
                    "mapIdto" : "london",
                    "price" : 59.409999999999997,
                    "return" : "false"
                },
                {
                    "airline" : "FR",
                    "atime" : 1358541300,
                    "cityfrom" : "London",
                    "cityto" : "Frankfurt",
                    "dtime" : 1358532900,
                    "flyfrom" : "STN",
                    "flyto" : "HHN",
                    "id" : "3694249",
                    "latFrom" : 51.507339999999999,
                    "latTo" : 50.11092,
                    "lngFrom" : -0.12767999999999999,
                    "lngTo" : 8.6821300000000008,
                    "mapIdfrom" : "london",
                    "mapIdto" : "frankfurt",
                    "price" : 25.699999999999999,
                    "return" : "false"
                }
            ]
        }
    ],
    "time" : 2.98
}


--
Geo Resources
The following is a section of resources related to geolocation.
--
Return default FROM country for user.
GET /geo
> Accept: application/json
< 200
< Content-Type: application/json
{
    "code": "CZ"
}


--
Airlines Resources
The following is a section of resources related to airlines.
--
Return available airlines.
GET /airlines
> Accept: application/json
< 200
< Content-Type: application/json
[
    {
        "id": "FR",
        "name": "Ryanair"
    },
    {
        "id": "U2",
        "name": "easyJet"
    }
]